@model IEnumerable<Ride.Models.Inspector>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InspectorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InspectorEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InspectorMoblie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InspectorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspectorEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspectorMoblie)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InspectorNo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InspectorNo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InspectorNo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
